.hero-container {
  display: flex;
  flex-direction: column;
}

.image-grid {
  padding: 35px;
  width: min-content;
  margin: auto;
}

.hero-heading {
  padding-left: 50px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
