.card {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.card-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 50px auto;
  padding: 0 20px;
}

.card-image {
  width: 175px;
  height: 235px;
  border-radius: 10px;
}

.card-rating {
  color: #222;
  font-size: 12px;
  line-height: 110%;
}

.gray {
  color: #918e9b;
  font-size: 12px;
  line-height: 110%;
}

.card-title {
  color: #222;
  font-size: 12px;
  line-height: 110%;
}

.card-details {
  color: #222;
  font-size: 12px;
  line-height: 110%;
}

.card-price {
  color: #222;
  font-size: 12px;
  font-weight: 600;
  line-height: 110%;
}

.card-badge {
  position: absolute;
  border-radius: 2px;
  background: #fff;
  top: 6px;
  left: 6px;
  padding: 5px;
  color: #222;
  font-size: 10px;
  line-height: 110%;
}

@media screen and (max-width: 768px) {
  .card-image {
    width: 120px;
    height: 165px;
  }

  .card-list {
    gap: 20px;
  }

  .card {
    width: 120px;
  }

  .card-rating,
  .gray,
  .card-title,
  .card-details,
  .card-price {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .card-image {
    width: 90px;
    height: 120px;
  }

  .card-list {
    gap: 10px;
  }

  .card {
    width: 90px;
  }

  .card-rating,
  .gray,
  .card-title,
  .card-details,
  .card-price {
    font-size: 10px;
  }
}
